@charset "UTF-8";
/* contact */

#CONTACT {
  width: 100%;
  height: 520px;
  /* background:blue; */
}


.contact_wrap {
  /* border: 1px solid #000; */
  margin: auto;
  height: auto;
  width: 1200px;
}

/* contact banner title */
/* .contact_wrap .contac_banner h2:before{
  display: block;
  content: '';
  clear:both;
} */
.contact_wrap .contac_banner h2 {
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #3c5f9f;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* content contact phone */

.contact_wrap .contact_phone {
  margin: auto;
  width: 50%;
}

.contact_wrap .contact_phone img {
  display: block;
  margin: auto;
  width: 500px;
}

/* modal */

.modal{
  display: none;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-78%);
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:999;
}

.modal img {
  display: block;
      width: 360px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
}
