@charset "UTF-8";
/* contact */

#CONTACT {
  width: 100%;
  height: 520px;
  cursor: pointer;
}

#CONTACT:before {
  display: block;
  content: "";
  clear: both;
}

.contact_wrap {
  /* border: 1px solid #000; */
  margin: auto;
  height: auto;
  width: 1200px;
}

/* contact banner title */

/* .contact_wrap .contac_banner h2:before{
  display: block;
  content: '';
  clear:both;
} */

.contact_wrap .contac_banner h2 {
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #3c5f9f;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* content contact phone */

.contact_wrap .contact_phone {
  margin: auto;
  width: 50%;
}

.contact_wrap .contact_phone img {
  display: block;
  margin: auto;
  width: 500px;
  transition: 0.3s;
}

/* modal */

.modal {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 100%;
  height: 615px;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #0948bbb5; */
  z-index: 999;
  cursor: pointer;
}

.modal img {
  display: block;
  width: 339px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* background: rgba(0, 0, 0, 0.5); */
  transform: translate(-50%, -50%);
  z-index: 999;
}

span.click1 {
  display: block;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #c3c3c382;
}

span.click2 {
  display: block;
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: #c3c3c382;
}

@media screen and (max-width:640px) {
  /* contact */
  #CONTACT {
    width: 100%;
  }
  .contact_wrap {
    display: none;
  }
  .contact_wrap .contact_phone img {
    width: 250px;
  }
  .modal {
    display: block;
    position: relative;
    top: 152%;
    left: 50%;
    transform: translate(-50%, -140%);
    width: 100%;
    height: 615px;
    background: none;
    z-index: 999;
    cursor: pointer;
  }
  .modal span {
    display: none;
  }
}
