@charset "UTF-8";
/* main_color #3c5f9f; - blue */

/* sub color #ffde00; - yellow */

/* header */

/* nav */

nav {
  position: relative;
  z-index: 999;
  width: 100%;
min-width:1200px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  /* border-top: 1px solid #3c5f9f; */
  border-bottom: 1px solid #3c5f9f;
}

nav ul {
  float: right;
}

nav ul li {
  text-align: center;
  display: block;
  float: left;
  width: 100px;
  height: 25px;
}

nav ul li a {
  font-size: 13px;
  display: block;
  color: #3c5f9f;
  transition: 0.3s;
}

ul li a.color {
  color: #ffde00;
}

nav ul li a:hover {
  display: block;
  color: #ffde00;
}

/* main  */

.laugh {
  position: relative;
  width: 100%;
  height: 590px;
}

/* main left  */

.haha {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #fbfbff;
}

.haha .my_name {
  position: absolute;
  left: 80px;
  top: 32px;
  display: block;
  line-height: 20px;
  color: #3c5f9f;
  font-size: 12px;
}

.line {
  position: absolute;
  left: 84px;
  top: 262px;
  width: 1px;
  height: 160px;
  border-left: 1px solid #3c5f9f;
}

.haha img.laugh_1 {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
}

/* haha img line */

.line_wrap {
  position: relative;
  top: 33px;
  right: 0;
  float: right;
  width: 320px;
  height: auto;
  z-index: 10;
}

/* .haha_line_1{
  position: absolute;
      top: 0;
      right: -20px;
      margin-bottom: 50px;
      width: 354px;
      height: 45px;
      background-color: #3c5f9f;
}

.haha_line_2{
  position: absolute;
  top: 80px;
  right: -80px;
  margin-bottom: 50px;
  float: right;
  width: 201px;
  height: 28px;
  background-color: #3c5f9f;
} */

.haha_line_3 {
  position: absolute;
  top: 205px;
  right: -252px;
  float: right;
  width: 300px;
  height: 7px;
  background-color: #3c5f9f;
}

/* main right */

.main_text {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  background: #ffde00;
}

.main_text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
}

.main_text_wrap h1 {
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: bold;
  color: #3c5f9f;
  /* cursor: pointer; */
}

/* .main_text_wrap h1:hover {
  text-decoration: underline;
} */

.main_text_wrap span.main_info {
  font-size: 18px;
  display: block;
  line-height: 20px;
  margin-bottom: 90px;
  color: #fff;
  cursor: pointer;
}

.main_text_wrap span.main_info:hover {
  text-decoration: underline;
}

.main_text span.button {
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #3c5f9f;
  text-align: center;
  line-height: 40px;
  /* color: #fff; */
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 1px solid #3c5f9f; */
}

.main_text span.button:hover {
  background-color: #ffde00;
  /* border: 1px solid #3c5f9f; */
  /* color: #3c5f9f; */
  line-height: 40px;
  /* font-weight: bold; */
  box-sizing: border-box;
}

.main_text span.button a {
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #3c5f9f;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #3c5f9f;
}

.main_text span.button a:hover {
  background-color: #ffde00;
  border: 1px solid #3c5f9f;
  color: #3c5f9f;
  line-height: 40px;
  font-weight: bold;
  box-sizing: border-box;
}



/* @media screen and (max-width:640px) { */
/*
header{
  width:100%;
} */

/* 햄버거 버튼 할 거임 */

/* nav{
  display:none;
} */
/* left content */
/* .laugh{
  width:100%;
}
.haha img.laugh_1{
  display: block;
  width:100%;
}
.haha .my_name{
  font-size: 12px;
  line-height: 18px;
}
.line {
    position: absolute;
    left: 84px;
    top: 242px;
    width: 1px;
    height: 60px;
    border-left: 1px solid #3c5f9f;
} */
/* right content */
/* .work_banner{
  width:100%;
}
.main_text_wrap{
  width:230px;
}
.main_text_wrap h1{
  font-size: 50px;
}
.main_text_wrap span.main_info{
  font-size: 15px;
}


} */
