@charset "UTF-8";


/* profile */
#PROFILE{
  margin:auto;
  width:1200px;
  height:700px;
  background: red;
}

.left_profile{
  width:50%;
  height:inherit;
  background: #fff;
}
.right_profile{
  height:inherit;
  width:50%;
}
