@charset "UTF-8";
/* profile */

#PROFILE {
  position: relative;
  margin: auto;
  width: 100%;
  height: 700px;
  background: url(../img/banner/profile_banner_4.png) no-repeat fixed;
  background: cover;
  /* background: #3c5f9f; */


}
/* banner */

.profile_banner{
  width:100%;
  height:150px;
}
.profile_banner span{
  position: absolute;
  /* z-index: -1; */
  display: block;
  width: inherit;
  height: 170px;
    line-height:170px;
    font-size: 50px;
    font-weight: bold;
    color:#3c5f9f;
    text-align: center;
}


/* left */
.left_profile {
  float: left;
  width: 50%;
  height: 500px;
  border-right: 1px solid #3c5f9f;
}
.left_profile:after {
  clear:both;
  content:"";
  display: block;
}
ul.left_wrap li{
  display: block;
  width:inherit;
  height:inherit;
  opacity: 0;
  color:#fff;
}
ul.left_wrap li:hover{
  transition:0.3s;
  color:#ffde00;
 text-decoration: underline;
 cursor: cell;
}
ul.left_wrap li:nth-child(1){

  margin-top:44px;
}
ul.left_wrap li:nth-child(2){
  margin-top:110px;
}

ul.left_wrap li span{
  display:block;
  margin-right:90px;
  text-align: right;
  font-size:16px;
  line-height: 30px;
  font-weight: bold;
  color:#3c5f9f;
}

/* right */
.right_profile {
  float: right;
  width:49%;
  height: 500px;
  /* background: #fff; */
}
ul.right_wrap li{
  display: block;
  opacity: 0;

  color:#fff;
}
ul.right_wrap li:hover{
    transition:0.3s;
  color:#ffde00;
 text-decoration: underline;
  cursor: cell;
}
ul.right_wrap li:nth-child(1){
  margin-top:114px;

}
ul.right_wrap li:nth-child(2){
  margin-top:110px;
  margin-bottom:20px;
}


ul.right_wrap li span{
  display:block;
  margin-left:80px;
  text-align: left;
  font-size:16px;
  font-weight: bold;
  line-height: 30px;
  color:#3c5f9f;
}

/* dot start  */

/* .dot1,.dot2,.dot3,.dot4{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color: #3c5f9f;
  border: 1px solid #3c5f9f;
} */
.dot1,.dot3{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color: #3c5f9f;
  border: 1px solid #3c5f9f;
}
.dot2,.dot4{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color: #ffde00;
  border: 1px solid #ffde00;
}



.dot1{
  position: absolute;
  left:50%;
  top:30%;
  transform: translate(-45%,-50%);
}
.dot1>span{
  position: absolute;
  left: -95px;
  top: 0;
  display: block;
      width: 90px;
      height: 20px;
      background: url(../img/ico/dot2.png) no-repeat;
      background-position: 8px -6px;
}
.dot2{
  position: absolute;
  left:50%;
  top:40%;
  transform: translate(-45%,-50%);
}
.dot2>span{
    position: absolute;
  display: block;
      width: 90px;
      height: 20px;
      background: url(../img/ico/dot.png) no-repeat;
      background-position: 8px -6px;
}
.dot3{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-45%,-50%);
}
.dot3>span{
    position: absolute;
    left: -95px;
    top: 0;
  display: block;
      width: 90px;
      height: 20px;
      background: url(../img/ico/dot2.png) no-repeat;
      background-position: 8px -6px;
}
.dot4{
  position: absolute;
  left:50%;
  top:60%;
  transform: translate(-45%,-50%);
}
.dot4>span{
    position: absolute;
  display: block;
      width: 90px;
      height: 20px;
      background: url(../img/ico/dot.png) no-repeat;
      background-position: 8px -6px;
}

/* text decoration */
em{
  font-style: italic;
}

/* p_opacity */

.p_opacity{
  position: absolute;
  bottom:-10px;
  width:100%;
  height:190px;
  background:url(../img/banner/shadow.png) no-repeat;

}
