@charset "UTF-8";
/* main color -  #3c5f9f */

/* sub color - #ffde00 */

/* work */

#WORK {
  width: 100%;
  height: 1500px;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
  /* background: yellow; */
}

/* section */

.work_banner {
  position: relative;
  width: 100%;
  height: 250px;
  line-height: 250px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
}

.work_banner span {
  position: relative;
  z-index: -1;
  display: block;
  width: inherit;
  height: inherit;
  /* line-height: inherit; */
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #3c5f9f;
  /* bg */
  background: url(../img/banner/work_banner.jpg) no-repeat fixed;
  background-size: cover;
}

/*  starbucks  */

.work_slider {
  margin: auto;
  width: 1200px;
  height: auto;
  overflow: hidden;
}

ul.work_list {
  display: block;
  width: 3300px;
  /* margin-left: -400px; */
}

ul.work_list li {
  display: block;
  float: left;
  width: 400px;
  height: 550px;
  box-sizing: border-box;
}

ul.work_list li .work_web img {
  display: block;
  width: 400px;
  transition: 0.2s;
}

ul.work_list li .work_web img:hover {
  opacity: 0.5;
}

/* starbucks */

/* starbucks */

.work_list li .work_web .work_title {
  margin: auto;
  margin-top: 20px;
  width: 290px;
  /* border: 5px solid #3c5f9f; */
  border-top: 0;
  border-bottom: 0;
}

.work_list li .work_web .work_title span {
  display: block;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #3c5f9f;
}

.work_list li .work_web .work_title span:nth-child(2) {
  margin-top: 20px;
  font-weight: bold;
}

.work_list li .work_web .work_title h2:nth-child(1) {
  margin: auto;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #3c5f9f;
  border-bottom: 1px solid #3c5f9f;
}

.work_list li .work_web div.show_button {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 13px;
  background: #ffde00;
  color: #fff;
  border: 1px solid #ffde00;
  transition: 0.5s;
  cursor: pointer;
}

.work_list li .work_web div.show_button:hover {
  background: #fff;
  color: #ffde00;
  border: 1px solid #ffde00;
  border-radius: 5px;
}

.work_list li .work_web div.show_button a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: inherit;
  color: #fff;
}

.work_list li .work_web div.show_button a:hover {
  color: #ffde00;
}

/* slide button */

.slide_button {
  position: relative;
  left: 0;
  margin: auto;
  width: 1320px;
  height: 50px;
  bottom: 370px;
}

.slide_button span.button_left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 50px;
  background: url(../img/ico/arrow_button.png) no-repeat;
  background-position: 0px 0px;
  opacity: 1;
}

.slide_button span.button_left:hover, .slide_button span.button_right:hover {
  opacity: 0.5;
}

.slide_button span.button_right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 50px;
  background: url(../img/ico/arrow_button.png) no-repeat;
  background-position: -60px 0px;
  opacity: 1;
}

/* branding */

.branding {
  width: 100%;
  height: 800px;
  /* background: red; */
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
}

.branding_banner {
  width: 100%;
  height: 250px;
  line-height: 250px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.1);
  position: relative;
}

.branding_banner span {
  position: relative;
  z-index: -1;
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  /* color: #3c5f9f; */
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  /* bg */
  /* background: url(../img/banner/purapy.jpg) no-repeat fixed; */
  background: url(../img/banner/all_goods1.jpg) no-repeat fixed;
  background-size: cover;
}

.purapy {
  margin: auto;
  width: 1200px;
  height: 550px;
}

.purapy>ul {
  display: block;
}

.purapy>ul>li {
  display: block;
  margin: auto;
  float: left;
  width: 1150px;
  height: 470px;
  box-sizing: border-box;
}

.purapy>ul>li>.work_web>a>img {
  margin-top: 30px;
  display: block;
  float: left;
  width: 700px;
  overflow: hidden;
  transition: 0.3s;
}

.purapy>ul>li .work_web {
  overflow: hidden;
}

.purapy>ul>li .work_web .work_title {
  float: right;
  margin-top: 170px;
  width: 320px;
  border: 5px solid #000;
  border-top: 0;
  border-bottom: 0;
}

.purapy>ul>li .work_web .work_title span {
  display: block;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.purapy>ul>li .work_web .work_title span:nth-child(2) {
  margin-top: 20px;
  font-weight: bold;
}

.purapy>ul>li .work_web .work_title h2:nth-child(1) {
  margin: auto;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #000;
}

.purapy>ul>li .work_web div.show_button {
  float: right;
  margin-right: 133px;
  margin-top: 30px;
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 13px;
  background: #000;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.purapy>ul>li .work_web div.show_button a {
  display: block;
  width: 100px;
  height: 30px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.3s;
}

.purapy>ul>li .work_web div.show_button a:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}
